div{

    
    padding: 20px ;
    width:600px;
    border: 1px solid brown;
    padding: auto;
    margin: auto;
    margin-bottom: 30px;
}
P{
    text-align: center;
  
}
input[type=radio] {
    height: 15px;
    width: 15px;

  
}
