body {
    background-color: #91c9e6;
}
.text-container {
    background-color: #ffffff;
    padding: 20px; 
}
h1 {
    text-align: center;
    color: white;
}
p {
    color: #000000;
    font-family: 'Verdana', sans-serif; 
}