body{
    margin: 0%;
    background-image: linear-gradient(to right, #e6ff58, rgb(149, 73, 236));
}

#main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.elements{
    margin:15px;
}

#inputs{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.input{
    display: flex;
    flex-direction: column;
    margin: 2%;
}

#sum{
    padding: 0.6rem 1.5rem;
    border-radius: 10px;
    border-color: blue;
}

.inp-tab{
    margin: 1%;
    border-radius: 10px;
    border-color: blue;
}

#output{
    width: 30%;
    height: 1.9rem;
    color: rgb(11, 0, 0);
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.381);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
}

@media screen and (max-width: 480px){
    #input{
        flex-direction: column;
        width: 70%;
    }
    #output{
        width: 60%;
    }
    
}

@media screen and (min-width: 1000px){

    #output{
        width: 200px;
    }
    
}